USE [master]
GO
/****** Object:  Database [DataNautDB]    Script Date: 2025-12-09 14:31:45 ******/
CREATE DATABASE [DataNautDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataNautDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DataNautDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataNautDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DataNautDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataNautDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataNautDB]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 2025-12-09 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectId] [int] NOT NULL,
	[ProjectName] [nvarchar](50) NOT NULL,
	[Budget] [decimal](16, 2) NOT NULL,
	[ProjectStartDate] [date] NOT NULL,
	[ProjectEndDate] [date] NOT NULL,
	[ProjectStatus] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ProjectName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2025-12-09 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[EmployeeRole] [nvarchar](50) NOT NULL,
	[Competence] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectEmployee]    Script Date: 2025-12-09 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectEmployee](
	[ProjectEmployeeId] [int] NOT NULL,
	[FkEmployeeId] [int] NOT NULL,
	[FkProjectId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectEmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_EmployeesInProject]    Script Date: 2025-12-09 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_EmployeesInProject] AS
SELECT p.ProjectId, p.ProjectName AS 'Project Name', e.EmployeeId, e.FullName AS 'Full Name', e.EmployeeRole AS 'Employee Role'
FROM Project p 
JOIN ProjectEmployee pe ON p.ProjectId=pe.FkProjectId
JOIN Employee e ON pe.FkEmployeeId=e.EmployeeId;
GO
/****** Object:  Table [dbo].[Report]    Script Date: 2025-12-09 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportId] [int] NOT NULL,
	[FkProjectId] [int] NOT NULL,
	[ReportTitle] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](4000) NOT NULL,
	[ReportStartDate] [date] NOT NULL,
	[ReportEndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeLogging]    Script Date: 2025-12-09 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeLogging](
	[TimeLoggingId] [int] NOT NULL,
	[FkReportId] [int] NOT NULL,
	[FkEmployeeId] [int] NOT NULL,
	[TotalTimeInHours] [decimal](4, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeLoggingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ReportsInProject]    Script Date: 2025-12-09 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_ReportsInProject] AS
SELECT p.ProjectId, p.ProjectName AS 'Project Name', r.ReportId, r.ReportTitle AS 'Title', r.ReportEndDate AS 'Issued Date', r.Content, t.TimeLoggingId, t.TotalTimeInHours AS 'Total Time', e.EmployeeId, e.FullName AS 'Full Name', e.EmployeeRole AS 'Employee Role'
FROM Project p
JOIN Report r ON p.ProjectId = r.FkProjectId
JOIN TimeLogging t ON r.ReportId = t.FkReportId
JOIN Employee e ON t.FkEmployeeId = e.EmployeeId;
GO
/****** Object:  Table [dbo].[EmployeeResource]    Script Date: 2025-12-09 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeResource](
	[ResourceId] [int] NOT NULL,
	[Equipment] [nvarchar](50) NULL,
	[Software] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsingResource]    Script Date: 2025-12-09 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsingResource](
	[UsingResourceId] [int] NOT NULL,
	[FkEmployeeResourceId] [int] NOT NULL,
	[FkEmployeeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsingResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ResourcesPerEmployee]    Script Date: 2025-12-09 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_ResourcesPerEmployee] AS
SELECT e.EmployeeId, e.FullName AS 'Full Name', e.EmployeeRole AS 'Role', er.ResourceId, er.Equipment, er.Software
FROM Employee e
JOIN UsingResource ur ON e.EmployeeId = ur.FkEmployeeId
JOIN EmployeeResource er ON ur.FkEmployeeResourceId = er.ResourceId;
GO
/****** Object:  Table [dbo].[Project_AuditLog]    Script Date: 2025-12-09 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project_AuditLog](
	[ProjectId] [int] NOT NULL,
	[ChangeType] [nvarchar](10) NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[ChangeBy] [nvarchar](50) NOT NULL,
	[ChangeDate] [datetime] NOT NULL,
	[NewValue] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProjectEmployee]  WITH CHECK ADD  CONSTRAINT [FK_ProjectEmployee_Employee] FOREIGN KEY([FkEmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[ProjectEmployee] CHECK CONSTRAINT [FK_ProjectEmployee_Employee]
GO
ALTER TABLE [dbo].[ProjectEmployee]  WITH CHECK ADD  CONSTRAINT [FK_ProjectEmployee_Project] FOREIGN KEY([FkProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[ProjectEmployee] CHECK CONSTRAINT [FK_ProjectEmployee_Project]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Project] FOREIGN KEY([FkProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Project]
GO
ALTER TABLE [dbo].[TimeLogging]  WITH CHECK ADD  CONSTRAINT [FK_TimeLogging_Employee] FOREIGN KEY([FkEmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[TimeLogging] CHECK CONSTRAINT [FK_TimeLogging_Employee]
GO
ALTER TABLE [dbo].[TimeLogging]  WITH CHECK ADD  CONSTRAINT [FK_TimeLogging_Report] FOREIGN KEY([FkReportId])
REFERENCES [dbo].[Report] ([ReportId])
GO
ALTER TABLE [dbo].[TimeLogging] CHECK CONSTRAINT [FK_TimeLogging_Report]
GO
ALTER TABLE [dbo].[UsingResource]  WITH CHECK ADD  CONSTRAINT [FK_UsingResource_Employee] FOREIGN KEY([FkEmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[UsingResource] CHECK CONSTRAINT [FK_UsingResource_Employee]
GO
ALTER TABLE [dbo].[UsingResource]  WITH CHECK ADD  CONSTRAINT [FK_UsingResource_EmployeeResource] FOREIGN KEY([FkEmployeeResourceId])
REFERENCES [dbo].[EmployeeResource] ([ResourceId])
GO
ALTER TABLE [dbo].[UsingResource] CHECK CONSTRAINT [FK_UsingResource_EmployeeResource]
GO
/****** Object:  StoredProcedure [dbo].[MakeProject]    Script Date: 2025-12-09 14:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure to insert a new Project record
CREATE PROCEDURE [dbo].[MakeProject]
    @ProjectId INT,
    @ProjectName NVARCHAR(50),
    @Budget DECIMAL(16, 2), -- Matching the column definition in Project table
    @ProjectStartDate DATE,
    @ProjectEndDate DATE,
    @ProjectStatus NVARCHAR(50)
AS
BEGIN
    -- Insert the new project data into the Project table
    INSERT INTO Project (ProjectId, ProjectName, Budget, ProjectStartDate, ProjectEndDate, ProjectStatus)
    VALUES (@ProjectId, @ProjectName, @Budget, @ProjectStartDate, @ProjectEndDate, @ProjectStatus)
END;
GO
USE [master]
GO
